body{
  padding-top: 10px;
  background-color: #E4EDF7;
}
header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 1px;
  font-size: 28px;
  background-color: #658590;
}
.header-table{
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: #500000;
  border-width: 6px;
  width: 1400px;
  left: 40%;
  right: 30%;
}
footer{
  text-align: center;
}
.footer-content{
  font-size: 10px;
}
.form{
  padding-top: 100px;
  text-align: center;
}
#navbarHome{
  color: black;
}
#navbarHome:hover{
  color: #810000;
}
#navbarHome:active{
  color: #ca0000;
}
#navbarAvailable{
  color: black;
}
#navbarAvailable:hover{
  color: #810000;
}
#navbarAvailable:active{
  color: #ca0000;
}
#navbarCurrent{
  color: black;
}
#navbarCurrent:hover{
  color: #810000;
}
#navbarCurrent:active{
  color: #ca0000;
}
#navbarHistory{
  color: black;
}
#navbarHistory:hover{
  color: #810000;
}
#navbarHistory:active{
  color: #ca0000;
}
#navbarDowntown{
  color: black;
}
#navbarDowntown:hover{
  color: #810000;
}
#navbarDowntown:active{
  color: #ca0000;
}
#navbarContact{
  color: black;
}
#navbarContact:hover{
  color: #810000
}
#navbarContact:active{
  color: #ca0000
}
.main{
  margin: auto;
  width: 50%;
}
.title{
  text-align: center;
  padding-top: 50px;
}
.title-secondary{
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 40%;
  right: 30%;
}
.downtown-title{
  font-weight: bold;
  font-size: 13px;
}
.downtown-content{
  font-size: 12px;
}
.downtown-images{
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  left: 40%;
  right: 30%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.history-content{
  font-size: 13px;
  padding-top: 50px;
}
.history-images{
  padding-top: 10px;
  padding-right: 20px;
}
.history-image-content{
  font-size: 13px;
}
.contact-content{
  font-size: 14px;
  padding-bottom: 5px;
}
.column {
  float: left;
  padding: 20px;
}
.nav-item:hover{
  transform: scale(1.05);
}
.nav-item:active{
  transform: scale(1.1);
}

.flooravailability{
  padding: 30px;
  float: left;
  text-decoration: underline;
}

#firstFloorfp{
  float: right;
}

#secondFloorfp{
  float: right;
}

.text {
  visibility: hidden;
  font-size: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {

  .title {
    padding-left: 75px;
    padding-top: 5px;
  }
  .title-secondary{
    left: 40%;
    right: 10%;
  }
  .homeIMG {
    width: 400px;
    height: 200px;
  }
  header{
    font-size: 20px;
  }
  .header-table{
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: #500000;
    border-width: 6px;
    width: 700px;
    left: 40%;
    right: 30%;
  }
  body {
    font-size: 12px;
  }
  .column {
    padding: 5px;
  }
  
  .navIMG {
    height: 90px;
  }
}
@media screen and (max-width: 600px) {
  .homeTitle {
    font-size: 13px;
  }
  .title {
    padding: 5px;
  }
  .title-secondary{
    left: 30%;
    right: 1%;
    font-size: 10px;
  }
  .homeIMG {
    width: 250px;
    height: 150px
  }
  header{
    font-size: 13px;
  }
  .header-table{
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: #500000;
    border-width: 4px;
    width: 350px;
    left: 40%;
    right: 30%;
  }
  body {
    font-size: 12px;
  }
  .column {
    padding: 5px;
  }

  .text {
    visibility: hidden;
    float: left;
    color: black;
    outline-style: solid;
    outline-width: 1.5px;
    outline-offset: 1.5px;
    outline-color :#810000;
    background-color: #cddee4;
    font-size: 0px;
  } 
  
  .navIMG {
    height: 40px;
  }
}