html{
  width: 100%;
}
body{
  padding-top: 10px;
  background-color: #E4EDF7;
  padding-left: 40px;
  padding-right: 40px;
}
h1{
  font-weight: bold;
  font-size: 80px
}
h2{
  font-weight: bold;
}
h3{
  font-weight: bold;
}
h4{
  font-weight: bold;
}
header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 50px;
  font-size: 28px;
  background-color: #658590;
}
.header-table{
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: #500000;
  border-width: 6px;
  width: 1800px;
}
footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 1px solid #080808;
  padding-bottom: 5px;
}
.footer-content{
  font-size: 10px;
  padding-top: 5px;
}
.form{
  padding-top: 100px;
  text-align: center;
  border-bottom-style: solid;
  padding-bottom: 25px;
}
#fbLogo {
  width: 50px;
  height: 50px;
}
.tenantLabel{
  padding-top: 25px;
  text-align: left;
}
.enterTenant {
  border-bottom-style: solid;
  padding-bottom: 25px;
}
.form-label {
  padding: 10px;
}
#tenantSubmit{
  padding-top: 25px;
}
.hallway{
  padding-top: 60px;
}
.sidenav{
  padding-top: 30px
}
#navbarHome{
  color: black;
}
#navbarHome:hover{
  color: #810000;
}
#navbarHome:active{
  color: #ca0000;
}
#navbarAvailable{
  color: black;
}
#navbarAvailable:hover{
  color: #810000;
}
#navbarAvailable:active{
  color: #ca0000;
}
#navbarCurrent{
  color: black;
}
#navbarCurrent:hover{
  color: #810000;
}
#navbarCurrent:active{
  color: #ca0000;
}
#navbarHistory{
  color: black;
}
#navbarHistory:hover{
  color: #810000;
}
#navbarHistory:active{
  color: #ca0000;
}
#navbarDowntown{
  color: black;
}
#navbarDowntown:hover{
  color: #810000;
}
#navbarDowntown:active{
  color: #ca0000;
}
#navbarContact{
  color: black;
}
#navbarContact:hover{
  color: #810000
}
#navbarContact:active{
  color: #ca0000
}
.contactForm{
  padding-top: 20px;
}
.main{
  margin: auto;
}
.floors{
  margin: auto;
  width: 90%;
}
#secondFloorfp{
  padding: 20px;
}
#mainStFloorfp{
  padding: 20px;
}
.title{
  text-align: center;
  padding-top: 100px;
}
.title-secondary{
  padding: 20px;
  margin-right: auto;
  margin-left: 37%;
  position: relative;
}
.homeTitle {
  padding-bottom: 15px;
}
.downtown-title{
  font-weight: bold;
  font-size: 16px;
  padding-left: 30px;
  padding-top: 20px;
}
.downtown-content{
  font-size: 15px;
  padding-left: 30px;
}
.downtown-images{
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.history-content{
  font-size: 16px;
  padding-top: 50px;
  padding-left: 30px;
}
.history-images{
  padding-top: 10px;
  padding-right: 20px;
}
.history-image-content{
  font-size: 16px;
  padding-left: 30px;
}
.contact-content{
  font-size: 14px;
  padding-bottom: 5px;
}
.column {
  float: left;
  padding: 20px;
}
.nav-item:hover{
  transform: scale(1.05);
}
.nav-item:active{
  transform: scale(1.1);
}

.flooravailability{
  padding: 30px;
  float: left;
  text-decoration: underline;
}

#firstFloorfp{
  float: right;
  padding: 20px;
}
#secondFloorfp{
  float: right;
  padding: 20px;
}
#mainStFloorfp{
  float: right;
  padding: 20px;
}
.col-lg-6{
  padding-left: 100px;
}

.text {
  visibility: hidden;
  font-size: 0px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  h1{
    font-size: 50px;
  }

  .title {
    padding-top: 30px;
  }
  .title-secondary {
    margin-left: 10%;
  }

  .homeIMG {
    width: 400px;
    height: 200px;
  }
  header{
    font-size: 20px;
  }
  .header-table{
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: #500000;
    border-width: 8px;
    width: 700px;
  }
  body {
    font-size: 14px;
  }
  .column {
    padding: 5px;
  }
  
  .navIMG {
    height: 90px;
  }
  header{
    padding: 35px;
  }
}
  #firstFloorfp{
    width: 100px;
    height: 400px;
  }
  #secondFloorfp{
    width: 100px;
    height: 380px;
  }
  #mainStFloorfp{
    width: 150px;
    height: 450px;
  }
  .downtown-title{
    font-weight: bold;
    padding-left: 5px;
    padding-top: 15px;
  }
  .downtown-content{
    padding-left: 5px;
  }
  .downtown-images{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
  .history-images{
    width: 375px;
    padding-top: 5px;
    padding-right: 5px
  }
@media screen and (max-width: 600px) {
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 16px;
  }
  h4{
    font-size: 16px;
  }
  .title-secondary{
    margin-left: 0%;
    padding: 5px;
  }
  header{
    padding: 10px;
  }
  .title {
    padding: 1px;
    padding-top: 20px;
  }
  .homeIMG {
    width: 250px;
    height: 150px
  }
  .header-table{
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: #500000;
    border-width: 4px;
    width: 350px;
  }
  .column {
    padding: 5px;
  }

  .text {
    visibility: hidden;
    float: left;
    color: black;
    outline-style: solid;
    outline-width: 1.5px;
    outline-offset: 1.5px;
    outline-color :#810000;
    background-color: #cddee4;
    font-size: 0px;
  } 
  #firstFloorfp{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  #secondFloorfp{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  #mainStFloorfp{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .hallway{
    height: 350px
  }
  .history-images{
    width: 165px;
    padding-top: 5px;
    padding-right: 5px
  }
  .history-content{
    font-size: 14px;
    padding-top: 40px;
    padding-left: 1px;
  }
  .history-image-content{
    font-size: 12px;
    padding-left: 1px;
  }
  .navIMG {
    height: 48px;
  }
  body{
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 10px;
    font-size: 13px;
  }
  .downtown-title{
    font-weight: bold;
    padding-left: 1px;
    padding-top: 10px;
  }
  .downtown-content{
    padding-left: 1px;
  }
  .downtown-images{
    width:250px;
  }
}