body{
  padding-top: 10px;
  background-color: #E4EDF7;
}
header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding: 1px;
  font-size: 20px;
  background-color: #658590;
}
.header-table{
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: #500000;
  border-width: 6px;
  width: 1400px;
  left: 40%;
  right: 30%;
}
footer{
  text-align: center;
}
.footer-content{
  font-size: 10px;
}
#navbarHome{
  color: black;
}
#navbarHome:hover{
  color: #810000;
}
#navbarHome:active{
  color: #ca0000;
}
#navbarAvailable{
  color: black;
}
#navbarAvailable:hover{
  color: #810000;
}
#navbarAvailable:active{
  color: #ca0000;
}
#navbarCurrent{
  color: black;
}
#navbarCurrent:hover{
  color: #810000;
}
#navbarCurrent:active{
  color: #ca0000;
}
#navbarHistory{
  color: black;
}
#navbarHistory:hover{
  color: #810000;
}
#navbarHistory:active{
  color: #ca0000;
}
#navbarDowntown{
  color: black;
}
#navbarDowntown:hover{
  color: #810000;
}
#navbarDowntown:active{
  color: #ca0000;
}
#navbarContact{
  color: black;
}
#navbarContact:hover{
  color: #810000
}
#navbarContact:active{
  color: #ca0000
}
.main{
  margin: auto;
  width: 50%;
}
.title{
  text-align: center;
  padding-top: 50px;
}
.title-secondary{
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 40%;
  right: 30%;
}
.downtown-title{
  font-weight: bold;
  font-size: 13px;
}
.downtown-content{
  font-size: 12px;
}
.downtown-images{
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
  left: 40%;
  right: 30%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.history-content{
  font-size: 13px;
  padding-top: 50px;
}
.history-images{
  padding-top: 10px;
  padding-right: 20px;
}
.history-image-content{
  font-size: 13px;
}
.contact-content{
  font-size: 14px;
  padding-bottom: 5px;
}
.column {
  float: left;
  padding: 20px;
}
.nav-item:hover{
  transform: scale(1.05);
}
.nav-item:active{
  transform: scale(1.1);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}