header{
  text-align: center;
  padding: 10px;
}
.main{
  margin: auto;
  width: 50%;
}
.title{
  text-align: center;
}
.title-secondary{
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  left: 40%;
  right: 30%;
}
.column {
  float: left;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}